<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cooperjones</key>
	<dict>
		<key>isLoggedIn</key>
		<true/>
		<key>fullName</key>
		<string>Cooper Jones</string>
		<key>userName</key>
		<string>cooperjones</string>
		<key>contactIDs</key>
		<array>
			<string>hodor</string>
			<string>madheat</string>
			<string>mikesciarraba</string>
		</array>
		<key>postIDs</key>
		<array>
			<string>004</string>
		</array>
		<key>conversationIDs</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>004</string>
		</array>
	</dict>
	<key>hodor</key>
	<dict>
		<key>isLoggedIn</key>
		<false/>
		<key>fullName</key>
		<string>Hodor</string>
		<key>userName</key>
		<string>hodor</string>
		<key>contactIDs</key>
		<array>
			<string>cooperjones</string>
			<string>madheat</string>
		</array>
		<key>postIDs</key>
		<array>
			<string>002</string>
			<string>006</string>
		</array>
		<key>conversationIDs</key>
		<array>
			<string>001</string>
			<string>003</string>
		</array>
	</dict>
	<key>madheat</key>
	<dict>
		<key>isLoggedIn</key>
		<false/>
		<key>fullName</key>
		<string>Madison Heath</string>
		<key>userName</key>
		<string>madheat</string>
		<key>contactIDs</key>
		<array>
			<string>mikesciarraba</string>
			<string>cooperjones</string>
			<string>hodor</string>
		</array>
		<key>postIDs</key>
		<array>
			<string>003</string>
			<string>005</string>
		</array>
		<key>conversationIDs</key>
		<array>
			<string>002</string>
			<string>003</string>
			<string>005</string>
		</array>
	</dict>
	<key>mikesciarraba</key>
	<dict>
		<key>isLoggedIn</key>
		<false/>
		<key>fullName</key>
		<string>Mike James Sciarraba Jr.</string>
		<key>userName</key>
		<string>mikesciarraba</string>
		<key>contactIDs</key>
		<array>
			<string>madheat</string>
			<string>cooperjones</string>
		</array>
		<key>postIDs</key>
		<array>
			<string>007</string>
			<string>008</string>
		</array>
		<key>conversationIDs</key>
		<array>
			<string>004</string>
			<string>005</string>
		</array>
	</dict>
</dict>
</plist>
